/* .product-container {
  width: 100%;
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  position: relative;
} */

/* .product-bg-container {
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

/* .product-content{
  padding: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
} */

.product-content {
  padding: 50px 40% 50px 50px;
}

.product-container .product-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 450;
}

.product-container .product-heading {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
}

.product-container .product-features-container {
  margin-top: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 1rem;
}

.home-heading {
  margin: 10px;
  font-size: 2.8rem;
  font-weight: 500;
}

.sub-heading {
  margin: 10px;
  font-weight: 600;
  margin-bottom: 40px;
}

.see-prod-link {
  text-decoration: none;
  margin: 10px;
  color: #fff;
  background: #0b264c;
  padding: 10px 50px;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    /* margin-right: 30px; */
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #00498e;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .nav-elements ul li {
    margin-right: unset;
    /* margin-top: 22px; */
  }
}
