/*====================================================================
COMMEN CSS
==================================================================*/

html{ height: 100vh; }
body {
	margin: 0px;
	padding: 0px;
    min-height: 100%;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,
ul,ol,li,
form,input,textarea,select {
	margin: 0;
	padding: 0;
}
header, nav, article, footer, address, section {  
    display: block;  
}
p {
	margin: 10px 0;
}
img {
	border: 0;
}
.img-responsive{ max-width: 100%; margin: 0 auto; }
a {
	text-decoration: none;
	outline: none;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
	overflow: hidden;
}

#wrapper {

	margin: 0 auto;
}

/*====================================================================
HEADER CSS
==================================================================*/
header {
	background: #00498e;
}
.contener{
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


.login-box{ margin-top: -100px;}
.login-box img{ max-width: 200px; }
.logo-img{max-width:70px;  padding-top: 10px;}
.menu img{ max-width:65px; margin-top: 5px;  }
/* .screen1-bg{ background: url(../images/screen-1.png) no-repeat right top; background-size: cover; padding-bottom: 30px; } */
.screen1-bg{ background: url("./assets/images/screen-1.png") no-repeat right top; background-size: cover; padding-bottom: 30px; }
.width33{ width: 100%; }
.width50{ width: 100%; }
.width25{width: 100%;}
.mt25 { margin-top: 25px;}
.call{ z-index: 9; position: fixed; right: 0; bottom: 100px; }
.gray-bg{ background: #eff2f6; padding: 50px 0px; }
.gray-bg.ptp-20{ background: #eff2f6; padding: 20px 0px; }
/* .pro-bg{ background: #fff url(../images/pro-bg.png) repeat-x right bottom;  padding-bottom: 30px; } */
.pro-bg{ background: #fff url('./assets/images/pro-bg.png') repeat-x right bottom;  padding-bottom: 30px; }

/*====================================================================
CONTENT CSS
==================================================================*/
.d-none{ display: none;} 
.d-block{ display: block;}
.xxs-block{ display: block; }
.xs-block{ display: block;}
.ssm-none{ display: none;}
.sm-block{ display: none;}
.lg-block{ display: none;}
.mt-33{ margin-top: -15px; }
.xs-max-width{ max-width: 70%;}

@media (min-width: 576px) {
  .xxs-block{ display: none;}
    .ssm-none{ display: block;}
    .w-100{ width: 100%; }
    .d-flex { display: flex;}
    .width33{ width: 33.3%; }
    .width50{ width: 50%; }
    .width25{width: 25%;}
    .max-width{ width:70%; }
    .xs-max-width{ max-width: 100%;}
    /*==Header CSS== */
     .login-box img{ max-width:250px; }
    .logo-img{max-width:80px; }
    .menu img{ max-width:70px; margin-top: 5px; padding-left: 10px; padding-right: 10px;  }
    /*==Banner CSS== */

    /*==Content CSS== */

    /*==Footer CSS== */
}

@media (min-width: 768px) {
 
    .xs-block{ display: none;}
.sm-block{ display: block;}
.lg-block{ display: none;}
    
    .login-box img{ max-width:300px; }
    .login-box{ margin-top: -150px;}
    .contener{ padding-left: 25px; padding-right: 25px;}
    /*==Header CSS== */
 .logo-img{max-width:146px; }
    .menu img{ max-width:100px; margin-top: 5px;  }
    /*==Banner CSS== */

    /*==Content CSS== */

    /*==Footer CSS== */
}

@media (min-width: 992px) {
    
    /*==Header CSS== */
     .xs-block{ display: none;}
.sm-block{ display: none;}
.lg-block{ display: block;}
    .login-box img{ max-width:inherit; }
    .screen1-bg{padding-bottom: 80px; }
    /*==Banner CSS== */

    /*==Content CSS== */

    /*==Footer CSS== */
}

@media (min-width: 1100px) {
      .mt-33{ margin-top: -15px; }
    .w-100-lg{ width: 100%;}
    /*==Header CSS== */
.login-box{ margin-top: -200px;}
    /*==Banner CSS== */
.w-100{ width: auto; }
    /*==Content CSS== */

    /*==Footer CSS== */
}

@media (min-width: 1200px) {
    /*== Commen CSS == */
      
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */

    /*==Footer CSS== */
}

@media (min-width: 1600px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */

    /*==Footer CSS== */
}

